/* Importar PrimeNG y primeicons para poder hacer uso de estos 
componentes dentro de los SCSS de home y form */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-green/theme.css";
@import "primeng/resources/primeng.css";